<mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile colspan="3">

        <!-- <mat-card class="example-card"> -->

        <form class="example-form" [formGroup]="form" (ngSubmit)="saveForm()">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Company (disabled)" disabled value="Google">
            </mat-form-field>

            <table class="example-full-width" cellspacing="1">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <textarea matInput formControlName="nombre" placeholder="First name"></textarea>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <textarea matInput formControlName="apellido" placeholder="Last Name"></textarea>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-small-width">
                            <input matInput [matDatepicker]="picker3" formControlName="createAt">
                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <p>
                <mat-form-field class="example-medium-width">
                    <textarea matInput formControlName="email" placeholder="email">1600 Amphitheatre Pkwy</textarea>
                </mat-form-field>


            </p>

            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="City (disabled)" disabled value="Monterrey">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="State (disabled)" disabled value="N.L">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput #postalCode maxlength="5" disabled placeholder="Postal Code" value="94043">
                            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                        </mat-form-field>
                    </td>

                </tr>
            </table>
            <table class="example-full-width">
                <tr>
                    <td><button type="submit" mat-raised-button color="accent">{{buttonName}}</button></td>
                </tr>

            </table>
        </form>
        <!-- </mat-card> -->
    </mat-grid-tile>
</mat-grid-list>





<!-- ngModel Form Option -->

<!-- <mat-card>
       <div class="example-container">
                            <mat-form-field>
                                <input matInput [(ngModel)]="cliente.nombre" placeholder="Customer Name">
                            </mat-form-field>
                    
                            <mat-form-field>
                                <textarea matInput [(ngModel)]="cliente.apellido" placeholder="Customer Lastname"></textarea>
                            </mat-form-field>
                    
                            <mat-form-field>
                                <textarea matInput [(ngModel)]="cliente.email" placeholder="email"></textarea>
                            </mat-form-field>
                    
                            <mat-form-field>
                                <textarea matInput [(ngModel)]="cliente.createAt" placeholder="date"></textarea>
                            </mat-form-field>
                    
                    
                            <mat-form-field>
                                <mat-select placeholder="Select">
                                    <mat-option value="option">Option</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <button (click)="update()" mat-raised-button color="accent">Update</button>
                    </mat-card>-->